* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}

.nav-bar {
  background-color: #1f2937;
  display: flex;
  justify-content: space-between;
  color: #f9faf8;
  padding: 20px 200px;
  font-size: 24px;
}

.nav-bar ul {
  display: flex;
  gap: 30px;
  list-style-type: none;
}

.nav-bar a {
  text-decoration: none;
  color: #f9faf8;
  font-size: 18px;
}

.header {
  background-color: #1f2937;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #f9faf8;
  padding: 20px 200px;
  width: 100%;
  height: 384px;
}

.header-text {
  max-width: 550px;
}

.header-text h1 {
  font-size: 48px;
  font-weight: bolder;
}

.header-text p {
  font-size: 18px;
  color: #e5e7eb;
}

.header-text button {
  background-color: #3882f6;
  color: #f9faf8;
  border: none;
  border-radius: 10px;
  padding: 10px 40px;
  margin: 15px auto;
  font-size: 20px;
  font-weight: bold;
}

.info-section {
  width: 100%;
  height: 484px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.info-section h1 {
  font-size: 36px;
  font-weight: bolder;
  color: #1f2937;
}

.flex-container {
  display: flex;
  gap: 4rem;
  margin-bottom: 100px;
}

.info {
  height: auto;
  width: 150px;
}

.img-container {
  border: 3px solid #3882f6;
  border-radius: 10px;
  margin-bottom: 10px;
  height: 150px;
  width: 150px;
}

.testimony-section {
  width: 100%;
  height: 484px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e5e7eb;
}

.testimony {
  height: auto;
  width: 50%;
}

.quote,
.author {
  color: #1f2937;
}

.quote {
  font-size: 36px;
  font-style: italic;
  font-weight: lighter;
}

.author {
  font-size: 24px;
  font-weight: bold;
  text-align: right;
}

.action-section {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.action-container {
  border-radius: 10px;
  background-color: #3882f6;
  color: #f9faf8;
  height: 120px;
  width: 1000px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.action-container h3 {
  font-size: 24px;
  font-weight: bold;
}

.action-container p {
  font-weight: 100;
}

.action-container button {
  padding: 10px 40px;
  background-color: #3882f6;
  color: #f9faf8;
  border: 2px solid #f9faf8;
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold;
}

.footer-container {
  background-color: #1f2937;
  color: #f9faf8;
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  word-spacing: 5px;
}
